.gifcommit {
	width: 600px;
	margin: 0 auto;
	color: black;
	background-color: #F5F3F5;

	img {
		width: 100%;
	}

	.author {
		padding: 10px 0 5px 0;
		font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
		a {
			text-decoration: none;
			padding: 2px 0;
			margin: 0 10px;
			color: #888;
			&:hover {
				border-bottom: 1px solid #888;
			}
		}
	}

	.commit-message {
		padding: 5px 10px;

		p {
			font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
			margin: 0;
			padding: 5px 0;
		}
	}
}
